<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lotteryUrlStr</key>
		<string>http://f.apiplus.cn/ah11x5.json</string>
		<key>provinceStr</key>
		<string>安徽</string>
	</dict>
	<dict>
		<key>lotteryUrlStr</key>
		<string>http://f.apiplus.cn/bj11x5.json</string>
		<key>provinceStr</key>
		<string>北京</string>
	</dict>
	<dict>
		<key>lotteryUrlStr</key>
		<string>http://f.apiplus.cn/fj11x5.json</string>
		<key>provinceStr</key>
		<string>福建</string>
	</dict>
	<dict>
		<key>lotteryUrlStr</key>
		<string>http://f.apiplus.cn/gd11x5.json</string>
		<key>provinceStr</key>
		<string>广东</string>
	</dict>
	<dict>
		<key>lotteryUrlStr</key>
		<string>http://f.apiplus.cn/gs11x5.json</string>
		<key>provinceStr</key>
		<string>甘肃</string>
	</dict>
	<dict>
		<key>lotteryUrlStr</key>
		<string>http://f.apiplus.cn/gx11x5.json</string>
		<key>provinceStr</key>
		<string>广西</string>
	</dict>
	<dict>
		<key>lotteryUrlStr</key>
		<string>http://f.apiplus.cn/gz11x5.json</string>
		<key>provinceStr</key>
		<string>贵州</string>
	</dict>
	<dict>
		<key>lotteryUrlStr</key>
		<string>http://f.apiplus.cn/heb11x5.json</string>
		<key>provinceStr</key>
		<string>河北</string>
	</dict>
	<dict>
		<key>lotteryUrlStr</key>
		<string>http://f.apiplus.cn/hen11x5.json</string>
		<key>provinceStr</key>
		<string>河南</string>
	</dict>
	<dict>
		<key>lotteryUrlStr</key>
		<string>http://f.apiplus.cn/hlj11x5.json</string>
		<key>provinceStr</key>
		<string>黑龙江</string>
	</dict>
	<dict>
		<key>lotteryUrlStr</key>
		<string>http://f.apiplus.cn/hub11x5.json</string>
		<key>provinceStr</key>
		<string>湖北</string>
	</dict>
	<dict>
		<key>lotteryUrlStr</key>
		<string>http://f.apiplus.cn/jl11x5.json</string>
		<key>provinceStr</key>
		<string>吉林</string>
	</dict>
	<dict>
		<key>lotteryUrlStr</key>
		<string>http://f.apiplus.cn/js11x5.json</string>
		<key>provinceStr</key>
		<string>江苏</string>
	</dict>
	<dict>
		<key>lotteryUrlStr</key>
		<string>http://f.apiplus.cn/jx11x5.json</string>
		<key>provinceStr</key>
		<string>江西</string>
	</dict>
	<dict>
		<key>lotteryUrlStr</key>
		<string>http://f.apiplus.cn/ln11x5.json</string>
		<key>provinceStr</key>
		<string>辽宁</string>
	</dict>
	<dict>
		<key>lotteryUrlStr</key>
		<string>http://f.apiplus.cn/nmg11x5.json</string>
		<key>provinceStr</key>
		<string>内蒙古</string>
	</dict>
	<dict>
		<key>lotteryUrlStr</key>
		<string>http://f.apiplus.cn/sc11x5.json</string>
		<key>provinceStr</key>
		<string>四川</string>
	</dict>
	<dict>
		<key>lotteryUrlStr</key>
		<string>http://f.apiplus.cn/sd11x5.json</string>
		<key>provinceStr</key>
		<string>山东</string>
	</dict>
	<dict>
		<key>lotteryUrlStr</key>
		<string>http://f.apiplus.cn/sh11x5.json</string>
		<key>provinceStr</key>
		<string>上海</string>
	</dict>
	<dict>
		<key>lotteryUrlStr</key>
		<string>http://f.apiplus.cn/sxl11x5.json</string>
		<key>provinceStr</key>
		<string>陕西</string>
	</dict>
	<dict>
		<key>lotteryUrlStr</key>
		<string>http://f.apiplus.cn/sxr11x5.json</string>
		<key>provinceStr</key>
		<string>山西</string>
	</dict>
	<dict>
		<key>lotteryUrlStr</key>
		<string>http://f.apiplus.cn/sh11x5.json</string>
		<key>provinceStr</key>
		<string>上海</string>
	</dict>
	<dict>
		<key>lotteryUrlStr</key>
		<string>http://f.apiplus.cn/tj11x5.json</string>
		<key>provinceStr</key>
		<string>天津</string>
	</dict>
	<dict>
		<key>lotteryUrlStr</key>
		<string>http://f.apiplus.cn/xj11x5.json</string>
		<key>provinceStr</key>
		<string>新疆</string>
	</dict>
	<dict>
		<key>lotteryUrlStr</key>
		<string>http://f.apiplus.cn/yn11x5.json</string>
		<key>provinceStr</key>
		<string>云南</string>
	</dict>
	<dict>
		<key>lotteryUrlStr</key>
		<string>http://f.apiplus.cn/zj11x5.json</string>
		<key>provinceStr</key>
		<string>浙江</string>
	</dict>
</array>
</plist>
